
.love-icon{
    position: relative;
    &:after{
        content: "";
        width: 21px;
        height: 19px;
        background-image: url('../../images/love-icon.png');
        background-repeat: no-repeat;
        position: absolute;
        right: 35px;
        top: 15px;
    }
    &.active{
        &:after{
            background-image: url('../../images/red-love.png');
        }
    }
}